<div class="pokemon" *ngIf="pokemon">
  <figure [class]="'pokemon__figure palette--' + pokemon.types[0]">
    <figcaption class="font-size-2">No. {{ pokemon.id }}</figcaption>
    <img *ngIf="pokemon.spriteUrl" class="pokemon__image" [src]="pokemon.spriteUrl" [alt]="pokemon.name + 'image'">     
  </figure>

  <strong class="font-size-3 pokemon__name">{{ pokemon.name }}</strong>

  <ul class="pokemon__types">
    <li 
    *ngFor="let type of pokemon.types"
      [class]="'pokemon__type font-size-1 palette--' + type"
      ><strong>{{ type }}</strong></li>
  </ul>

  <div class="pokemon__mega" *ngIf="mega">
    <strong class="font-size-3 pokemon__name--mega">Mega</strong>
    <figure [class]="'pokemon__figure pokemon__figure--mega palette--mega'">
      <img *ngIf="mega.imageUrl" class="pokemon__image pokemon__image--mega" [src]="mega.imageUrl" [alt]="mega.name + 'image'">     
    </figure>
  </div>

  <div class="button-container">
    <a class="poke-button" [routerLink]="['/list',pokemon.id]">Details</a>
  </div>
  
</div>