<p class="info-container__paragraph">This webpage displays all original 151 pokemon and lets you add or modify a Mega-evolution following this steps:</p>
<p class="info-container__paragraph info-container__paragraph--colored">Step 1:</p>
<p class="info-container__paragraph">Create a Mega in the Forms view defining its name, image url and the base pokemon name to evolve it from.</p>
<p class="info-container__paragraph info-container__paragraph--colored">Step 2:</p>
<p class="info-container__paragraph">Look up all Mega-evolutions on the list displayed in My Creates with the possibility to modify or delete them.</p>
<p class="info-container__paragraph info-container__paragraph--colored">Step 3:</p>
<p class="info-container__paragraph">Search for the base pokemon on the list and the mega will be displayed on the up-right corner.</p>
<p class="info-container__paragraph info-container__paragraph--colored"><></p>