$primary-color: #1b1818;
$secondary-color: #ffff;
$background-color: #110620;
$promo-color: rgb(30, 167, 51);
$item-color: rgba(61, 21, 113,0.5);
$banner-color: rgba(134, 34, 139, 0.6);
$footer-color: gray;
$button-color: #eb67d6;
$button-hover-color: #eb67d6;
$button-pressed-color: #eb67d6;

$nav-height: 30px;
$nav-margin: 20px;

$layout_bp_mobile: 480px;
$layout_bp_tablet: 768px;
$layout_bp_desktop: 1280px;

$nb-slides: 6;