<div class="info-container">
    <div class="info-container__content">
        <h1 class="info-container__header">About</h1>
        <p class="info-container__paragraph">This app was made for a study on Angular JS consuming the PokeAPI and MegaAPI, which is a mock API that uses generated custom data to preform CRUD operations.</p>
        <p class="info-container__paragraph info-container__paragraph--colored"><></p>
        <p class="info-container__paragraph">Creator: Peter Cutino - petcutmat97</p>
    </div>
</div>
