@use "../../../_variables.scss" as v;

h1 { font-family: Lato; }

.paginator{
  padding-bottom: 20px;
  &__toggle{
    padding:  10px 20px;
    background: #ccc;
    border: 1px solid #efefef;
    box-shadow: 0px 5px 0.5px v.$primary-color;
    cursor: pointer;

    &.active{
      color: #e2e2e2;
      background: v.$primary-color;
    }
  }
}