$primary-color: #1b1818;
$secondary-color: #ffff;
$background-color: #110620;
$promo-color: rgb(30, 167, 51);
$item-color: rgba(61, 21, 113,0.5);
$banner-color: rgba(134, 34, 139, 0.6);

$nav-height: 30px;
$nav-margin: 20px;

$layout_bp_mobile: 360px;
$layout_bp_tablet: 800px;
$layout_bp_desktop: 1280px;

$nb-slides: 6;

@mixin tablet {
  @media only screen and (min-width: #{$layout_bp_tablet}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$layout_bp_desktop}) {
    @content;
  }
}

@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon/fonts/icomoon.eot');
  src:  url('../assets/fonts/icomoon/fonts/icomoon.eot') format('embedded-opentype'),
    url('../assets/fonts/icomoon/fonts/icomoon.ttf') format('truetype'),
    url('../assets/fonts/icomoon/fonts/icomoon.woff') format('woff'),
    url('../assets/fonts/icomoon/fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-valve:before {
  content: "\e904";
  color: #f74843;
}
.icon-steam:before {
  content: "\e902";
}
.icon-cheveron-right:before {
  content: "\e901";
}
.icon-twitter1:before {
  content: "\e903";
}
.icon-shopping-bag:before {
  content: "\e900";
}
.icon-account_circle:before {
  content: "\e920";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-search:before {
  content: "\e986";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}

  body{
      margin: 0;
      background-color: $background-color;
  }

  .events-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 30px;
    text-align: center;
    background-color: $promo-color;
    color: $secondary-color;
    font-family: 'Lato', sans-serif;
  }
  .events-banner__div{
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    background-color: $promo-color;
  }

  // Navbar -------------

  .navbar {
    display: flex;
    background-color: $primary-color;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;

    @include tablet{
      height: 104px;
    }

    &__section{
      display: flex;
      align-items: center;

      &__image{
        filter: invert(100%);
        width: 40px;
        height: $nav-height;
        @include tablet{
          height: $nav-height*1.4;
          width: 60px;
        }
        @include desktop{
          height: $nav-height*1.2;
        }
        
        &--cart{
          @extend .navbar__section__image;
          width: 50px;
          height: $nav-height/1.2;
          @include tablet{
            height: $nav-height*1.1;
          }
          @include desktop{
            height: $nav-height;
          }
        }
        
        &--right{
          @extend .navbar__section__image;
          margin-right: $nav-margin;
        }
      }
      &__main{
        @extend .navbar__section__image;
        width: 100px;
        @include tablet{
          width: 150px;
          height: 40px;
        }
        @include desktop{
          width: 200px;
          height: 40px;
        }
      }
      &__link {
        display: flex;
      }
      
      // Menu -------------------

      &__menu{
        color: $secondary-color;
        list-style: none;
        display: none;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: center;
        z-index: 3;
        padding: 0;
        margin: 0;

        & > a {
          padding: 0 1em;
          font-family: 'Roboto', sans-serif;
          cursor: pointer;
        }

        @include tablet{
          display: none;
        }
        @include desktop{
          display: flex;
        }
      }
      &__toggle{
        &__icon{
          display: none; // hide checkbox
          &:checked ~ .navbar__section__toggle__menu-button-container .navbar__section__toggle__menu-button {
            background: rgba(255, 255, 255, 0);
            &::before{
              margin-top: 0px;
              transform: rotate(405deg);
              background: rgba(255, 255, 255, 1);
            }
            &::after{
              margin-top: 0px;
              transform: rotate(-405deg);
              background: rgba(255, 255, 255, 1);
            }
          }
        }
        & > label{
          padding: 0.3em;    
        }
        &__menu-button-container {
          top:-40px;
          left:20px;
          z-index: 3;
          display: flex;
          height: 100%;
          cursor: pointer;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-left: $nav-margin;
          margin-right: $nav-margin;
          width: 20px;
          @include tablet{
            width: 35px;
            margin-left: $nav-margin*2;
          }
          @include desktop{
            display: none;
          }
        }
      
        &__menu-button{
          display: block;
          background-color: #fff;
          position: absolute;
          height: 4px;
          width: 30px;
          transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
          border-radius: 2px;
          &::before{
            @extend .navbar__section__toggle__menu-button;
            content: '';
            margin-top: -8px;
          }
          &::after{
            @extend .navbar__section__toggle__menu-button;
            content: '';
            margin-top: 8px;
          }
        }
      }
      
    }   
  }

  #menu-toggle:active ~ .menu{
      display: none;
    }
  

  .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 3;
    padding: 0;
    margin: 0;
    @include desktop{
      display: none;
    }

    & > li{
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 1em 0.5em;
      width: 100%;
      color: white;
      background-color: #222222;
      font-family: 'Roboto', sans-serif;
      &:hover{
        -webkit-animation:a_color_active 0.5s;

        @-webkit-keyframes a_color_active {
          0% {background-color: #222222;}
          100% {background-color:#422439;;}
        }  
        animation-fill-mode:forwards;
        
      }
      & > a{
        text-decoration: none;
        color: $secondary-color;
        cursor: pointer;
      }
    }

    & > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }
  

  // Search bar --------------

  $search-size: 30px;
  .search-box {
    position: absolute;
    top: 170px;
    right: 17px;
    transform: translate(0%,-50%);
    background: $primary-color;
    height: $search-size;
    border-radius: 50px;
    box-shadow: 3px 3px 5px black;
    padding: 10px;
    z-index: 1;

    &:hover > .search-box__search-input {
      width: 200px;
      height: $search-size;
      padding: 0 7px;
      @include tablet{
        width: 350px;
        height: $search-size*1.5;
      }
    }
    &:hover > .search-box__search-btn {
      background-color: rgba(255, 255, 255,0.5);
      color: #110620;
    }

    @include tablet{
      top: 200px;
      right: 17px;
      height: $search-size*1.5;
    }
    &__search-btn {
      color: white;
      float: left;
      height: $search-size;
      width: $search-size;
      right: 20px;
      border-radius: 50%;
      background: $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 1s;
      text-decoration: none;
  
      @include tablet{
        height: $search-size*1.5;
        width: $search-size*1.5;
      }
    }

    &__search-input {
      border: none;
      background: none;
      outline: none;
      float: left;
      padding: 0;
      color: white;
      font-size: 20px;
      transition: 0.4s;
      line-height: 50px;
      height: $search-size;
      width: 0;
      @include tablet{
        height: $search-size*1.5;
      }
    }
  }

  .icon-search{
    z-index: 1;
  }

  // Main Game -----------

  .mainVideo{
    width: 100%;
  }

  .main-game{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text{
      color: $secondary-color;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 900;
      color: #b74cfe;
  
      &--important{
        @extend .main-game__text;
        font-size: 40px;
        color: $secondary-color;
        cursor:pointer;
      }
      &--subtext{
        @extend .main-game__text;
        text-shadow:1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
      }
    }

    &__button{
      margin-top: 20px;
      padding: 10px 20px;
      width: 190px;
      background-color: #eb67d6;
      border-color: #eb67d6;
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      color: $background-color;
      font-size: 20px;
      text-align: center;

      will-change: transform;
      transition: transform 450ms;

      &:hover{
        background-color: #d85caf;

        -webkit-animation:btn_color_hover 0.5s;

        @-webkit-keyframes btn_color_hover {
          0% {background-color: #eb67d6;}
          100% {background-color:#d85caf;}
        }

        transition: transform 125ms;
        transform: scale(1.1);
      }
      &:active{
        transform: translateY(10px);
        -webkit-animation:btn_color_active 0.5s;

        @-webkit-keyframes btn_color_active {
          0% {background-color: #d85caf;}
          100% {background-color:#a25cd8;}
        }
        transition: transform 125ms;
        transform: scale(1);
      }
    }
  }

  .cursorpointer{
    cursor: pointer;
  }

  // Main Game Title -----------

  .main-title{
    &__frame{
      width: 100%;
      margin-top: 50px;
      height: 150px;
      padding: 20px 0px;
      margin-bottom: 40px;
      font-size: 20px;
      text-shadow: 3px 3px 0 black;
      display: flex;
      justify-content: center;
  
      background-image: url(../assets/images/Steam_Banner.jpg);
      background-image: -webkit-linear-gradient(left, 
        rgba(17, 6, 32, 0.9) 0%, 
        rgba(17, 6, 32, 0) 20%,
        rgba(17, 6, 32, 0) 80%,
        rgba(17, 6, 32, 0.9) 100%
      ),
      url(../assets/images/Steam_Banner.jpg);

      @include tablet{
        font-size: 30px;
        text-shadow: 5px 5px 0 black;
      }
      &__title-container{
        width: 70%;
        align-self: center;
        background-color: rgba(134, 34, 139, 0.6);
        box-shadow: 2px 2px 5px black;
  
        &__text{
          font-family: 'Roboto', sans-serif;
          color: white;
          font-weight: 900;
          text-align: center;
    
          &--subtext{
            @extend .main-title__frame__title-container__text;
            text-shadow: 0 0 0 black;
            color: #3dc3f0;
            font-size: 14px;
            margin-top: -20px;
  
            @include tablet{
              font-size: 22px;
            }
          }
        }
      }
    } 
    
  }

  // Items showcase

  .item-showcase{
    display: flex;
    align-items: center;
    justify-content: center;
  
    &__item-container {
      display: grid;
      -ms-grid-columns: repeat(auto-fit, minmax(160px, 1fr));
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      gap: 10px;
      margin: 2em;
      width: 100%;
      justify-items: center;
      @include tablet{
        -ms-grid-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        gap: 20px;
        width: 100%;
      }
      @include desktop{
        width: 70%;
        -ms-grid-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      }
      &__item {
        display: flex;
        flex-direction: column;
        gap: 0 1.5em;
        align-items: center;
        color: white;
        font-weight: 100;
        height: 170px;
        width: 170px;
        font-size: small;
    
        @include tablet{
          height: auto;
          width: auto;
          font-size: medium;
        }

        will-change: transform;
        transition: transform 450ms;

        &:hover{
          transition: transform 125ms;
          transform: scale(1.05);
        }

        &__image{
          object-fit: cover;
          width: 300px;
          height: 100%;
          max-width: 100%;
          max-height: 135px;
          display: block;

          @include tablet{
            height: 300px;
            max-height: 250px;
            display: block;
          }
      
          &--offset-pos{
            @extend .item-showcase__item-container__item__image;
            object-position: 0px -2px;
          }
          &--offset-neg{
            @extend .item-showcase__item-container__item__image;
            object-position: 0px -28px;
          }
        }
    
        &__price-box {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          background-color: $item-color;
          width: 100%;
      
          &__price{
            padding: 0.2em 0.4em;
            margin: 0.4em 0.1em;
    
            &--discount{
              @extend .item-showcase__item-container__item__price-box__price;
              color: $secondary-color;
              background-color: $promo-color;
            }
            &--previous{
              @extend .item-showcase__item-container__item__price-box__price;
              color: black;
              text-decoration:line-through;
              background-color: rgb(178, 159, 203);
            }
            &--clear{
              @extend .item-showcase__item-container__item__price-box__price;
              color: $secondary-color;
              font-family: 'Roboto', sans-serif;
              color: #e2cef0;
            }
          }
        }
      }
    }
  }

  // Banners -----------------

  .banners{
    display: flex;
    width: 100%;
    justify-content: center;

    &__container{
      margin-top: 40px;
      display: flex;
      width: 70%;
      flex-direction: column;
      
      @include tablet{
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
      }
      @include desktop{
        width: 70%;
      }
      
      &__banner{
        display: flex;
        img{
          width: 100%;
          @include tablet{
            width: 97%;
          }
        }
        &--left{
          @extend .banners__container__banner;
          justify-content: flex-start;
          margin-bottom: 20px; 
          @include tablet{
            margin-bottom: 0px; 
          }
        }
        &--right{
          @extend .banners__container__banner;
          justify-content: flex-end;
        }
      }
    }
  }

  // Carousel ----------------

  .carousel {
    display: flex;
    align-items: center; 
    justify-content: center; 

    &__carousel-wrapper {
      display: flex;
      position: relative;
      max-width: 100%;
      flex-direction: column;
      width: 70%;
      margin: 50px;

      @include tablet{
        width: 90%;
      }
      @include desktop{
        width: 70%;
      }
    
      input {
        display: none;
      }

      &__recommended-title{
        @extend .main-title__frame__title-container__text;
        text-align: start;
        @include tablet{
          text-align: start;
        }
      }
      &__carousel-items {
        width: 100%;
        overflow: hidden;
      
        ul {
          display: flex;
          align-items: center; // horizontal
          justify-content: center; // vertical
          position: relative;
          list-style: none;
          overflow: hidden;
      
          margin: 0;
          padding: 0;
          height: 100%;
          width: 100% * $nb-slides;
      
          transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
        }
        &__item-container{
          display: flex;
          position: relative;
          width: 100%;
          flex-direction: column;
          @include tablet{
            flex-direction: row;
          }
          max-height: 435px;

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            max-height: 435px;
            @include tablet{
              width: 70%;
              height: 300px;
            }
          }

          &__comment-wrapper{
            background-color: $item-color;
            width: 100%;
            height: 170px;
            @include tablet{
              width: 30%;
              height: auto;
              height: 300px;
            }
          }
          &__price-box{
            @extend .item-showcase__item-container__item__price-box;
            background-color: rgba($color: #000000, $alpha: 0);
            justify-content: flex-start;
            position: absolute;
            top: 10px;
            left: 10px;
           
            z-index: 3;
            &__price{
              @extend .item-showcase__item-container__item__price-box__price;
              &--discount{
                @extend .item-showcase__item-container__item__price-box__price--discount;
              }
              &--previous{
                @extend .item-showcase__item-container__item__price-box__price--previous;
              }
              &--clear{
                @extend .item-showcase__item-container__item__price-box__price--clear;
                background-color: #a25cd8;
              }
            }
          }
          
        }
      }
    }
  }

  .quote{
    padding-left: 2em;
    padding-right: 2em;
    color: $secondary-color;
    font-style: italic;
    font-size: 1em;

    &--start{
      @extend .quote;
      padding-top: 1em;
      &::before{
        content: "''";
        color: gray;
      }
    }
    &--end{
      @extend .quote;
      &::after{
        content: "''";
        color: gray;
      }
    }
    &--complete{
      @extend .quote;
      padding-top: 1em;
      &::before{
        content: "''";
        color: gray;
      }
      &::after{
        content: "''";
        color: gray;
      }
    }

    @include tablet{
      padding-right: 4em;
    }
  }

  .author{
    @extend .quote;
    padding-bottom: 1em;
    color: rgb(215, 142, 219);
    &::before{
      content: "~ ";
    }
  }

  .nav-dot {
    $dot-size: 15px;
    position: absolute;
    cursor: pointer;

    margin-left: -$dot-size / 2;
    bottom: -$dot-size * 2.5;
    width: $dot-size;
    height: $dot-size;
  
    opacity: .5;
    background-color: rgba(134, 34, 139, 1);
    border-radius: 50%;
    transition: .4s;
  
    &:hover {
      opacity: .8;
      transform: scale(1.2);
    }
  
    &:active {
      transform: scale(0.9);
    }
  }
  
  @for $n from 1 through $nb-slides {
    // arranges the navigation dots horizontally
    .nav-dot[for=slide#{$n}] {
      left: 50% + ((($n - 1) - (($nb-slides - 1)/ 2)) * 10%);
      @include tablet{
        left: 50% + ((($n - 1) - (($nb-slides - 1)/ 2)) * 5%);
      }
    }
  
    #slide#{$n}:checked {
      // moves the carousel to the right slide
      & ~ .carousel__carousel-wrapper__carousel-items ul { left: -100% * ($n - 1) }
  
      // highlights the selected navigation dot
      & ~ .nav-dot[for=slide#{$n}] {
        opacity: 1;
      }
    }
  }
  
  .arrow {
    $arrow-size: 50px;
    display: none;  // hidden by default
    position: absolute;
  
    cursor: pointer;
    font-weight: bolder;
    text-shadow: 0 0 7.5px rgba($color: black, $alpha: .7);
  
    top: 55%;
    z-index: 1;
    opacity: .7;
    margin-top: -$arrow-size / 2;
    height: $arrow-size;
    font-size: $arrow-size;
    color: $secondary-color;
    transition: .2s;
  
    &:hover {
      opacity: 1;
      transform: scale(1.2);
    }
  
    &:active {
      transform: scale(0.9);
    }

    &--left{
      @extend .arrow;
      left: 15px;
    }
    &--right{
      @extend .arrow;
      right: 15px;
    }
  }
  
  @function slide-real-number($n) {
    // for $nb-slides = 4, possible values are {1, 2, 3, 4}
    // (and not {0, 1, 2, 3}).
    @return 1 + ($nb-slides + (($n - 1) % $nb-slides)) % $nb-slides;
  }
  
  @for $n from 1 through $nb-slides {
    // when the nth slide is selected,
    // displays the left-arrow that goes to the (n-1)th slide
    // and the right arrow that goes to the (n+1)th slide.
  
    #slide#{$n}:checked {
      & ~ .arrow--left[for=slide#{slide-real-number($n - 1)}],
      & ~ .arrow--right[for=slide#{slide-real-number($n + 1)}] {
        display: block;
      }
    }
  }
  
  // Explore Buttons ------------

  .explore{
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__explore-buttons{
      display: flex;
      gap: 10px;
      width: 70%;
      justify-items: center;
      justify-content: center;
      margin: 50px;
      flex-direction: column;
      
      @include tablet{
        gap: 20px;
        width: 90%;
      }
      @include desktop{
        width: 70%;
        flex-direction: column;
      }
      &__recommended-title{
        @extend .carousel__carousel-wrapper__recommended-title;
        margin: 0;
      }
      &__buttons{
        display: flex;
        flex-direction: column;
        @include desktop{
          flex-direction: row;
          gap: 20px;
        }
        &__container{
          height: 60px;
          align-items:center;
          display: flex;
          gap: 20px;
          @include desktop{
            width: 70%;
            justify-content: space-between;
          }
          &__button{
            padding: 1em;
            width: 100%;
            background-color: #eb67d6;
            border-color: #eb67d6;
            font-family: 'Roboto', sans-serif;
            font-weight: 900;
            color: $background-color;
            font-size: 15px;
            text-align: center;
        
            will-change: transform;
            transition: transform 450ms;
        
            @include desktop{
              width: 50%;
            }

            &:hover{
              background-color: #d85caf;
        
              -webkit-animation:btn_color_hover 0.5s;
        
              @-webkit-keyframes btn_color_hover {
                0% {background-color: #eb67d6;}
                100% {background-color:#d85caf;}
              }
        
              transition: transform 125ms;
              transform: scale(1.05);
            }
            &:active{
              transform: translateY(10px);
              -webkit-animation:btn_color_active 0.5s;
        
              @-webkit-keyframes btn_color_active {
                0% {background-color: #d85caf;}
                100% {background-color:#a25cd8;}
              }
              transition: transform 125ms;
              transform: scale(1);
            }
          }
        }
      }
    }
  
  }
  
  // Footer --------------------

  footer{
    background-color: $primary-color;
    margin-top: 2em;
  }
  .footer-area{
    height: auto;
    padding: 1em 2em;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text{
      color: rgb(169, 169, 169);
      font-family: 'Lato', sans-serif;
      margin: 0.5em;
      text-align: center;
      line-height: 1.5em;
      &--separator{
        @extend .footer-area__text;
        width: 70%;
        padding-top: 1em;
        border-top: 1px solid gray;
      }
      & > a{
        @extend .footer-area__text;
        color: #3dc3f0;
      }
    }
    &__social{
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: center;
      color: gray;

      &__text{
        font-size: 1em;
        padding-right: 1em;
        color: gray;
      }

      &__icon{
        color: gray;
        font-size: 25px;
        margin: 0.4em;
      }

      & > a{
        text-decoration:none;
      }
    }
    &__main-icon{
      font-size: 6em;
    }
  }


 




