@use "app/variables" as v;

body {
    margin: 0;
    min-height: 100%;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    font-size: 1.6rem;
  }
  
  html { font-size: 10px; }
  
  body { 
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;  
  }

  .content{
    background-image: url("https://i.pinimg.com/originals/a1/86/a8/a186a8aff83506c70b0b307e3fb062c8.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0% 80%;
  }
  
  ul {
    list-style-type: none;
  }
  
  .pokemon {
    padding: 0.4rem 0.4rem 1rem;
    background-color: #E9E9E9;
    border-radius: 0.5rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, .25);

    &__mega{
      position: relative;
    }
    &__figure{
      width: 21rem;
      min-height: 21rem;
      padding: 0.8rem;
      margin-bottom: 0.8rem;
      border-radius: 0.5rem;
      &--mega{
        width: 40px;
        height: 40px;
        min-height: auto;
        padding: 0;
        position: absolute;
        top: -300px;
        left: 163px;
      }
    }
    &__image{
      width: 100%;
      height: 21rem;
      &--mega{
        width: 40px;
        height: 40px;
      }
    }
    &__name{
      display: block;
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      &--mega{
        position: absolute;
        top: -300px;
        left: 115px;
        color: white;
        font-weight: 100;
      }
    }
    &__types {
      display: flex;
      margin-top: 0.8rem;
    }
    &__type {
      padding: 0.4rem 0.8rem;
      margin-right: 0.8rem;
      border-radius: 0.4rem;
    }
  }

  
.pokemon-list {
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
  
.poke-button{
  width: 100px;
  height: 30px;
  background-color: #7faf71;
  box-shadow: 2px 3px 4px rgb(50, 49, 49);
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-decoration: none;
  margin-right: 10px;

  &:hover{
    background-color: #4a9694;

    -webkit-animation:btn_color_hover 0.5s;
    -moz-animation:btn_color_hover 0.5s;
    animation:btn_color_hover 0.5s;

    @keyframes btn_color_hover {
      0% {background-color: #7faf71;}
      100% {background-color:#4a9694;}
    }

    transition: transform 125ms;
    transform: scale(1.1);
  }
  &:active{
    transform: translateY(10px);
    background-color: #a25cd8;
    -webkit-animation:btn_color_active 0.5s;
    -moz-animation:btn_color_active 0.5s;
    animation:btn_color_active 0.5s;

    @keyframes btn_color_active {
      0% {background-color: #4a9694;}
      100% {background-color:#a25cd8;}
    }
    transition: transform 125ms;
    transform: scale(1);
  }
}

.title{
  color: v.$primary-color;
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
  font-weight: 900;
}

.button-container{
  height: 50px;
}

.info-container{
  display: flex;
  justify-content: center;
  align-items: center;
  &__content{
    width: 500px;
    background-color: white;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
  }
  &__header{
    color: v.$primary-color;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 40px;
  }
  &__paragraph{
    margin-top: 10px;
    &--colored{
      color: v.$primary-color;
      font-weight: 900;
    }
  }
}